:root {
  --bg: #282828;
  --bg0: #44463b;
  --text: #ebdbb2;
  --text0: #a89984;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --magenta: #b16286;
  --cyan: #689d6a;
  --red0: #fb4934;
  --green0: #b8bb26;
  --yellow0: #fabd2f;
  --blue0: #83a598;
  --magenta0: #d3869b;
  --cyan0: #8ec07c;
}

body {
  background: var(--bg);
  color: var(--text);
}

.title {
  text-align: center;
  color: var(--yellow);
  margin: 0.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-inline: 1rem;
  gap: 1rem;
}
.card {
  background: var(--bg0);
  padding-inline: 1rem;
  box-shadow: 0 0 0.5rem black;
}
.card .date {
  color: var(--green0);
  font-family: monospace;
}
.card h2 {
  margin-top: 0;
}
.card .button {
  background: var(--yellow);
  color: var(--bg);
  text-decoration: none;
  font-style: normal;
  padding-inline: 10px;
}
.card .button:hover,.button:focus {
  background: var(--magenta);
}