:root {
  --bg: #282828;
  --bg0: #44463b;
  --text: #ebdbb2;
  --text0: #a89984;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --magenta: #b16286;
  --cyan: #689d6a;
  --red0: #fb4934;
  --green0: #b8bb26;
  --yellow0: #fabd2f;
  --blue0: #83a598;
  --magenta0: #d3869b;
  --cyan0: #8ec07c;

  --accent-color: var(--magenta0);
  --transition-duration: 250ms;
  --progress: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  accent-color: var(--accent-color);
  margin: 0;
  padding: 0;
}

button svg path {
  fill: var(--bg0);
}

/* hover only for screens with width > 600px */
@media only screen and (min-width: 600px) {
  button:hover svg path {
    fill: var(--accent-color);
    transition: fill 250ms ease;
  }
  #music-list li:hover {
    color: var(--accent-color);
  }
  button.toggled-on:hover svg path {
    fill: var(--bg);
  }
}

button:active {
  box-shadow: 0 0 2px var(--accent-color);
  border-color: var(--accent-color);
}
button:active svg path {
  fill: var(--green0);
}

.center {
  text-align: center;
}

.container {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.container > section {
  width: clamp(16rem, 100dvw, 40rem);
}
.container a {
  text-decoration: none;
}

.page {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Page-1: Upload Files Pages */
#files-page {
  align-items: center;
  justify-content: space-evenly;
}

#drop-zone {
  width: clamp(8rem, min(40vw, 40vh), 15rem);
  aspect-ratio: 1 / 1;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed var(--bg0);
  border-radius: 1rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.go-button {
  max-width: 10rem;
  background: var(--bg);
  color: var(--green0);
  padding: 1rem;
  border: 2px solid var(--green);
  border-radius: 100dvh;
  font-size: clamp(1rem,calc(2vw + 0.2rem),3rem);
}

/* Page-2: Main Page (contains playlist and mini-player) */
#music-list {
  border: 3px solid var(--bg0);
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
  overscroll-behavior: contain;
}
#music-list ul {
  margin: 0;
  list-style: none;
}
#music-list li {
  display: block;
  cursor: pointer;
  padding: 0.75rem 1rem 0.75rem 2rem;
  text-align: left;
  overflow-wrap: anywhere;
}
#music-list li+li {
  border-top: 2px solid var(--bg0);
}

.active {
  color: var(--yellow);
  position: relative;
}
.active::before {
  content: "> ";
  position: absolute;
  transform: translateX(-1.2rem);
}

.current-track-info {
  display: grid;
  text-align: left;
  border: 3px solid var(--bg0);
  border-radius: 1rem 1rem 0 0;
}
.current-track-info .top-row {
    display: flex;
}

.currently-playing {
  flex: 1;
  display: grid;
  padding-inline: 1rem;
}

.music-title-mini {
  display: flex;
  align-items: center;
}
.music-title, .music-title-mini {
  color: var(--yellow);
  overflow-wrap: anywhere;
}

.play-pause-mini button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 1rem 0 0;
  width: clamp(3rem, 15dvw, 5rem);
  aspect-ratio: 1 / 1;
  background: var(--bg);
}

.progress-mini {
    height: 4px;
    width: var(--progress);
    /*background: var(--magenta); */
    background: linear-gradient(to right, var(--yellow), var(--green));
    border-radius: 0 10px 10px 0;
    transition: width 1s linear;
}

/* Page-3: Controls Page (Full controls) */
.top-buttons-container {
    padding: 10px;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.top-buttons > span {
    display: flex;
}

.top-buttons button, .options-container button, .controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  aspect-ratio: 1 / 1;
  background: var(--bg);
  border-radius: 100vh;
  border: 2px solid var(--bg0);
  padding: 0;
  margin: 0;
}
.top-buttons button {
  border: none;
}

.options-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--bg0);
  border-radius: 100vh 0 100vh 100vh;
  height: auto;
  transition: all var(--transition-duration) ease;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#repeat-inc, #repeat-dec {
  font-size: 2rem;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--bg0);
  color: var(--bg0);
}
#repeat-dec {
  border-radius: 100dvh 0 0 100dvh;
}
#repeat-inc {
  border-radius: 0 100dvh 100dvh 0;
}
#repeat-count {
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 1.5rem;
  border-block: 2px solid var(--bg0);
  min-width: 3rem;
}

.repeat-counter {
  display: flex;
}

button.toggled-on {
  background: var(--green);
}
button.toggled-on svg path {
  fill: var(--bg);
}

/* A quick fix might need to change it later */
#toggle-autoplay.toggled-on {
    background: var(--bg);
}
#toggle-autoplay.toggled-on path {
    fill: var(--green);
}
#reload path {
    fill: var(--red0);
}

.top-buttons .options-selected {
  border: 2px solid var(--bg0);
  border-bottom: 0;
  border-radius: 100dvh 100dvh 0 0;
  margin: 0;
}
.top-buttons svg {
  transform: rotate(0deg);
  transition: all var(--transition-duration) ease;
}
.top-buttons .options-selected svg {
  transform: rotate(90deg);
  transition: all var(--transition-duration) ease;
}
.top-buttons .options-selected path {
  fill: var(--green);
}

#progress-bar {
  width: 90%;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: clamp(1rem, 5dvh ,4rem);
}

/* .hide and .invisible should be at the bottom to work properly */
.hide {
  display: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  transition: all var(--transition-duration) ease;
}
.options-container.invisible {
  height: 0;
  border-color: var(--bg);
}

/* newly added */
.dragging {
    background: black;
    opacity: 30%;
}
