:root {
    --frame-size: min(25vw + 5rem, 25vh + 5rem);
    --font-size: clamp(min(2vw + 0.8rem, 2vh + 0.8rem), 1rem, 10rem);
    --hand-size: calc(var(--frame-size)/20);
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--frame-size)/10);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--frame-size)/10);
    padding: calc(var(--frame-size)/20);
}

.navbar {
    display: flex;
    justify-content: center;
    font-size: var(--font-size);
    margin: 1rem;
    padding: 1rem;
}
.navbar ul {padding: 0;}
.navbar li {
    list-style: none;
    display: inline;
    padding: 0 1rem;
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
}
.navbar .current-tab {border-bottom: 3px solid var(--cyan);}
.navbar path {fill: var(--text0);}
.navbar .current-tab path {fill: var(--cyan);}

.frame {
    height: var(--frame-size);
    width: var(--frame-size);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--bg0);
    cursor: pointer;
}

.display {
    font-size: calc(var(--frame-size)/5);
    user-select: none;
}

.buttons {
    display: flex;
    gap: calc(var(--frame-size)/4);
    font-size: calc(var(--frame-size)/10);
    align-items: center;
    justify-content: space-evenly;
}

.buttons > span {
    --button-size: calc(var(--frame-size)/5);
    border: 2px solid var(--text0);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 500ms ease-out;
}

.buttons .play, .buttons .pause {
    --button-size: calc(var(--frame-size)/4);
    font-size: calc(var(--frame-size)/5 - 0.5rem);
}

.play:hover {
    background-color: var(--green0);
}

.play path {
    fill: var(--green);
}

.pause:hover {
    background-color: var(--yellow0);
}

.pause path {
    fill: var(--yellow);
}

.reset:hover {
    background-color: var(--red0);
}

.reset path {
    fill: var(--red);
}

.pause:hover path, .reset:hover path, .play:hover path, .lap:hover path {
    fill: var(--bg);
}

.lap path {
    fill: var(--blue0);
}

.lap:hover {
    background: var(--blue0);
}

#lap-time-log {
    max-height: calc(var(--frame-size)/2.5);
    overflow-y: scroll;
    text-align: center;
    padding: calc(var(--frame-size)/20);
    font-size: calc(var(--frame-size)/10);
}

#lap-time-log::-webkit-scrollbar {
    display: none;
}

#lap-time-log li {
    list-style: none;
}

.buttons .place-holder {
    --button-size: calc(var(--frame-size)/5);
    height: var(--button-size);
    width: var(--button-size);
    font-size: calc(var(--frame-size)/10);
    border-radius: 50%;
    border: 2px solid transparent;
}

.hidden {
    display: none;
}

.buttons .hidden {
    display: none;
}

.Active {
    box-shadow: 0px 0px 20px var(--green);
    border: 5px solid var(--green);
}

.Paused {
    box-shadow: 0px 0px 20px var(--yellow);
    border: 5px solid var(--yellow);
}

.Reset {
    animation: reset-animation 1s ease-in;
    border: 5px solid var(--bg0);
}

.Expired {
    animation: reset-animation 1.25s ease-in infinite;
    border: 5px soild var(--bg0);
}

@keyframes reset-animation {
    from {
        box-shadow: 0 0 50px var(--red);
        border: 5px solid var(--red0);
    }
    to {
        border: 5px solid var(--bg0);
    }
}

.clock {
    position: relative;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-weight: 800;
}

.clock .number-1 {
    --rotation: 30deg;
}
.clock .number-2 {
    --rotation: 60deg;
}
.clock .number-3 {
    --rotation: 90deg;
}
.clock .number-4 {
    --rotation: 120deg;
}
.clock .number-5 {
    --rotation: 150deg;
}
.clock .number-6 {
    --rotation: 180deg;
}
.clock .number-7 {
    --rotation: 210deg;
}
.clock .number-8 {
    --rotation: 240deg;
}
.clock .number-9 {
    --rotation: 270deg;
}
.clock .number-10 {
    --rotation: 300deg;
}
.clock .number-11 {
    --rotation: 330deg;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: var(--bg0);
    border-top-left-radius: var(--hand-size);
    border-top-right-radius: var(--hand-size);
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: '';
    position: absolute;
    background-color: var(--red);
    z-index: 11;
    width: var(--hand-size);
    height: var(--hand-size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second {
    width: calc(var(--hand-size)/4);
    height: 43%;
    background: var(--red);
}

.clock .hand.hour {
    width: calc(var(--hand-size)/2);
    height: 30%;
    background: var(--text0);
}

.clock .hand.minute {
    width: calc(var(--hand-size)/2);
    height: 41%;
    background: var(--text0);
}