:root {
  --bg: #282828;
  --bg0: #44463b;
  --text: #ebdbb2;
  --text0: #a89984;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --magenta: #b16286;
  --cyan: #689d6a;
  --red0: #fb4934;
  --green0: #b8bb26;
  --yellow0: #fabd2f;
  --blue0: #83a598;
  --magenta0: #d3869b;
  --cyan0: #8ec07c;
}

body {
  background: var(--bg);
  color: var(--text);
}

.center {
  text-align: center;
}

.title {
  color: var(--yellow);
}

.hide {
  display: none;
}

.container {
  display: grid;
  place-items: center;
  width: 20rem;
}

#music-list {
  display: grid;
  color: var(--green0);
  padding: 0.25rem 1rem;
  border: 1px solid var(--bg0);
  border-radius: 0.5rem;
  height: 14rem;
  min-width: 16rem;
  overflow-y: scroll;
  overflow-wrap: break-word;
}
#music-list::-webkit-scrollbar {
  padding-top: 1rem;
  background: var(--bg0);
  width: 0.25rem;
}
#music-list::-webkit-scrollbar-thumb {
  background: var(--green0);
  border-radius: 1rem;
}
#music-list li {
  display: block;
  cursor: pointer;
  padding: 0.2rem;
}
#music-list p {
  padding: 0.25rem;
  margin: 0;
}

#music-title {
  color: var(--cyan);
  font-size: clamp(0.8em, 1em, 1.3em);
  overflow-wrap: break-word;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  column-gap: 2rem;
}

.active {
  color: var(--yellow0);
  font-style: italic;
}
.active::before {
  content: '> ';
}

.controls {
  display: flex;
  flex-direction: column;
  /*gap: 0.5rem;*/
  justify-content: center;
  width: 20rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  accent-color: var(--magenta);
}

#prev-button, #next-button, #go-button {
  background: var(--bg);
  color: var(--text);
  border-radius: 0.25rem;
  border: 2px solid var(--bg0);
  font-size: 1em;
}
#prev-button:hover, #next-button:hover, #go-button:hover {
  background: var(--bg0);
}
