* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
    position: absolute;
    /*background: linear-gradient(darkblue, lightblue);*/
    background: black;
    top: 0;
    left: 0;
}
