:root {
    --bg: #282828;
    --bg0: #44463b;
    --text: #ebdbb2;
    --text0: #a89984;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --magenta: #b16286;
    --cyan: #689d6a;
    --red0: #fb4934;
    --green0: #b8bb26;
    --yellow0: #fabd2f;
    --blue0: #83a598;
    --magenta0: #d3869b;
    --cyan0: #8ec07c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.25rem;
    background: var(--bg);
    color: var(--text);
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 2rem;
}

nav {
    position: sticky;
    top: 0;
    max-height: 100svh;
    background-color: var(--bg0);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
    padding-block: 2rem;
    font-size: 1rem;
}

.nav-list li {
    background: var(--bg0);
    padding: 1rem 2rem;
    margin-left: 2rem;
    border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
    background: var(--bg);
    position: relative;
}

.nav-list li.active::before,
.nav-list li.active::after {
    --border-radius: 1rem;
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    right: 0;
    border-radius: 100vw;
}

.nav-list li.active::before {
    top: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw 0;
    box-shadow: 10px 10px 0 10px var(--bg);
}

.nav-list li.active::after {
    bottom: calc(var(--border-radius) * -1);
    border-radius: 0 100vw 0 0;
    box-shadow: 10px -10px 0 10px var(--bg);
}

.nav-list a {
    color: var(--text0);
    text-decoration: none;
}